<%= will_paginate @photos %>
<div class="container well well-large">

  <ul class="thumbnails">

		<% @photos.each do |photo| %>
      		<li class="span3">
      			<div >
      			<a href="#" title="<%=photo.title%>" id="<%=photo.id%>" class="thumbnail">
      				<img title="<%=photo.title%>" src="<%=photo.original_url%>">
      			</a>
      			</div>
      		</li>
		<% end %>
  </ul>

</div>

<%= will_paginate @photos %>
<div id="flickrModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>